{% block sw_cms_el_config_text %}
	<div class="sw-cms-el-config-text">
		<div class="sw-cms-el-config-text__repeater">
			<div class="sw-cms-el-config-text__repeater-container">
				<sw-collapse v-for="(item, index) in element.config.name.value" :key="index" :class="`sw-cms-el-config-text__repeater-item element-item[${index}]`" expandontextclick :expanded="index === 0">
					<template #header="{ expanded }">
						<div class="header d-flex align-items-center justify-content-between w-100">
							<span class="sw-cms-el-config-text__repeater-title">
								Element
								{{index + 1}}
							</span>
							<sw-icon name="regular-chevron-right-xs" class="sw-cms-el-config-text__repeater-icon" :class="{ 'is--active': expanded }"/>
						</div>
					</template>
					<template #content="{ expanded }">
						<div class="sw-content row w-100 mt-3">
							<div class="col-md-5">
								<sw-text-field :value="element.config.name.value[index]?.[`name_${index}`] ?? ''" :label="Text" :name="`name_${index}`" :allow-inline-data-mapping="true" :sanitize-info-warn="true" enable-transparent-background @change="onInputName(index)" @blur="onBlurName(index)"></sw-text-field>
							</div>
							<div class="col-md-5">
								<sw-text-field :value="element.config.link.value[index]?.[`link_${index}`] ?? ''" :label="Link" :name="`link_${index}`" :allow-inline-data-mapping="true" :sanitize-info-warn="true" enable-transparent-background @change="onInputLink(index)" @blur="onBlurLink(index)"></sw-text-field>
							</div>
							<div v-if="index>0" class="col-md-2">
								<button :class="`sw-cms-el-config-text__repeater-item-delete-${index} mt-4 sw-button sw-button--danger sw-button--small`" @click="remove(index)">
									<span class="sw-button__name">Remove</span>
								</button>
							</div>
						</div>
					</template>
				</sw-collapse>
				<sw-button class="sw-cms-el-config-text__repeater-add" id="add-item" variant="ghost" block @click="addRepater">
					Add Section
				</sw-button>
			</div>
		</div>
	</div>
{% endblock %}
